.container-editar-cliente {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgba(145, 154, 150, 0.3);
  backdrop-filter: blur(4px);

  position: absolute;
  z-index: 10;
}

.modal-editar-cliente {
  width: 60rem;
  max-height: 100vh;

  padding: 4rem 5.6rem;

  background-color: white;
  border-radius: 30px;

  position: relative;

  overflow-y: auto;
}

.botao-fechar {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
}

.botao-fechar img {
  cursor: pointer;
}

.modal-titulo {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  font-family: "Montserrat", sans-serif;

  margin-bottom: 1.6rem;
}

input {
  margin-bottom: 0.8rem;
}

.input-dividido {
  display: flex;
  gap: 2.4rem;
}

.blank {
  width: 100%;
}

.input-cidade {
  width: 70%;
}

.input-uf {
  width: 30%;
}

.modal-botoes {
  display: flex;
  gap: 2.4rem;
}

.modal-botao {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

  width: 100%;
  padding: 0.4rem;

  margin-top: 32px;

  font-family: "Nunito", sans-serif;
}

.modal-botao:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.cancelar {
  background-color: var(--cinza-claro);
  border: 1px solid var(--cinza-medio);
  color: var(--verde-normal);
}

.cancelar:hover {
  background-color: var(--cinza-medio);
}

.aplicar {
  background-color: var(--rosa);
  color: var(--cinza-claro);
}

.aplicar:hover {
  background-color: var(--rosa-escuro);
}

.aviso {
  color: var(--vermelho);
  margin-bottom: 1rem;

  font-family: "Nunito", sans-serif;
}
